body{
    height: 100vh;
    
}
.judul{
    background-color:rgb(56, 178, 22);
    color: antiquewhite;
    justify-content: center;
    align-items: center;
    width: 50%;

}
.isi{
    background-color: coral;
    color: antiquewhite;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: -1opx;
    margin-left: 300px;
}
.luar{
    background: blue;
}