/* Reset margin dan padding untuk menghindari perbedaan default pada browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mengatur gaya dasar untuk body */
body {
    font-family: Arial, sans-serif;
    background-image: url(Hospital_cinere.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Kontainer luar */
.luar {
    width: 90%;
    max-width: 600px;
    background-color: #ffffff;
    border: 1px solid red;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

/* Gaya untuk judul */
.judul h2 {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}

/* Gaya untuk pesan konfirmasi */
.isi {
    font-size: 13px;
    color: black (0, 85, 255);
    line-height: 1.5;
    padding: 15px;
    background-color: seagreen;
    border: 1px solid black;
    border-radius: 5px;
}
